<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout-auth :: layout-fragment(
							~{::title},
							~{::content},
							null,
							null,
							'auth'
							)}">
<head>
	<title th:text="#{application.title-pattern(#{application.name}, #{auth.changePasswordExpired.title})}"></title>
</head>
<body>

	<div th:fragment="content">

		<h4 class="card-title mt-1 mb-3 text-center" th:text="#{auth.changePasswordExpired.title}">Link expired</h4>

		<p><span th:text="#{auth.changePasswordExpired.text}">The link to set your new password has expired. Click the following link to resend the email:</span> <a th:href="@{/}" th:text="#{auth.changePasswordExpired.toResetPassword.link}">Reset password</a></p>

		<p><a th:href="@{/}" th:text="#{auth.changePasswordExpired.toLogin.link}">To the login</a></p>

	</div>

</body>
</html>
