<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout-auth :: layout-fragment(
							~{::title},
							~{::content},
							null,
							null,
							'auth'
							)}">
<head>
	<title th:text="#{application.title-pattern(#{application.name}, #{auth.registration.title})}"></title>
</head>
<body>

	<div th:fragment="content">

		<h4 class="card-title mt-1 mb-3 text-center" th:text="#{auth.registration.title}">User registration</h4>

		<form th:object="${user}" th:action="@{/auth/registration}" method="post" autocomplete="off">
			<div>
				<label class="form-label">
					<span th:text="#{auth.registration.email.label}">E-mail address</span>
					<span class="required">*</span>
				</label>
				<input type="text" th:field="*{email}" class="form-control" th:classappend="${#fields.hasErrors('email')} ? is-invalid">
				<div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:each="err : ${#fields.errors('email')}" th:text="${err}">validation error</div>
			</div>
			<div class="mt-3">
				<label class="form-label">
					<span th:text="#{auth.registration.password.label}">Password</span>
					<span class="required">*</span>
				</label>
				<input type="password" th:field="*{password}" class="form-control" th:classappend="${#fields.hasErrors('password')} ? is-invalid">
				<div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:each="err : ${#fields.errors('password')}" th:text="${err}">validation error</div>
			</div>
			<div class="mt-3">
				<label class="form-label">
					<span th:text="#{auth.registration.repeatPassword.label}">Repeat password</span>
					<span class="required">*</span>
				</label>
				<input type="password" th:field="*{repeatPassword}" class="form-control" th:classappend="${#fields.hasErrors('repeatPassword')} ? is-invalid">
				<div class="invalid-feedback" th:if="${#fields.hasErrors('repeatPassword')}" th:each="err : ${#fields.errors('repeatPassword')}" th:text="${err}">validation error</div>
			</div>
			<div class="mt-3">
				<label class="form-label">
					<span th:text="#{auth.registration.fullName.label}">Full name</span>
					<span class="required">*</span>
				</label>
				<input type="text" th:field="*{fullName}" class="form-control" th:classappend="${#fields.hasErrors('fullName')} ? is-invalid">
				<div class="invalid-feedback" th:if="${#fields.hasErrors('fullName')}" th:each="err : ${#fields.errors('fullName')}" th:text="${err}">validation error</div>
			</div>
			<div class="mt-3">
				<span class="required">*</span> <span th:text="#{default.form.required}">required</span>
			</div>
			<div class="mt-3">
				<button type="submit" class="btn btn-primary form-control" th:text=#{auth.registration.button}>Register now</button>
			</div>
		</form>

		<div class="mt-5 text-center">
			<span th:text="#{auth.registration.havingAccount.question}">You already have an account?</span>
			<a th:href="@{/}" th:text="#{auth.registration.toLogin.link}">Log In</a>
		</div>

	</div>

</body>
</html>
