<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout-auth :: layout-fragment(
							~{::title},
							~{::content},
							null,
							null,
							'auth'
							)}">
<head>
	<title th:text="#{application.title-pattern(#{application.name}, #{auth.registrationConfirmExpired.title})}"></title>
</head>
<body>

	<div th:fragment="content">

		<h4 class="card-title mt-1 mb-3 text-center" th:text="#{auth.registrationConfirmExpired.title}">Link expired</h4>

		<p th:utext="#{auth.registrationConfirmExpired.text}">The link to confirm your email address has expired. You can just do that now. <strong>We have sent you a new confirmation email.</strong> Please check your inbox and click on the confirmation link in the email.</p>

		<p><a th:href="@{/}" th:text="#{auth.registrationConfirmExpired.toLogin.link}">To the login</a></p>

	</div>

</body>
</html>
