<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout-auth :: layout-fragment(
							~{::title},
							~{::content},
							null,
							null,
							'auth'
							)}">
<head>
	<title th:text="#{application.title-pattern(#{application.name}, #{auth.resetPassword.title})}"></title>
</head>
<body>

	<div th:fragment="content">

		<h4 class="card-title mt-1 mb-3 text-center" th:text="#{auth.resetPassword.title}">Reset password</h4>

		<p th:text="#{auth.resetPassword.text}">Please enter your email address here and click on "Send". We will then immediately send you a link with which you can set a new password.</p>

		<form th:object="${userResetPassword}" th:action="@{/auth/reset-password}" method="post" autocomplete="off">
			<div>
				<label class="form-label">
					<span th:text="#{auth.resetPassword.email.label}">E-mail address</span>
					<span class="required">*</span>
				</label>
				<input type="text" th:field="*{email}" class="form-control" th:classappend="${#fields.hasErrors('email')} ? is-invalid">
				<div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:each="err : ${#fields.errors('email')}" th:text="${err}">validation error</div>
			</div>
			<div class="mt-3">
				<span class="required">*</span> <span th:text="#{default.form.required}">required</span>
			</div>
			<div class="mt-3">
				<button type="submit" class="btn btn-primary form-control" th:text=#{auth.resetPassword.button}>Send</button>
			</div>
		</form>

		<p class="mt-3"><a th:href="@{/}" th:text="#{auth.resetPassword.toLogin.link}">To the login</a></p>

	</div>

</body>
</html>
